<div>
  <h2>Come join us for a day of fun at the Spring Grove Hatchery Park! </h2>

  <p>Casting for a Cure is for anyone 2&ndash;18 years of age. Fishing is free, but donations are appreciated.</p>

  <div class="address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
    <div>Spring Grove Hatchery Park</div>
    <span itemprop="streetAddress">2314 Hatchery Rd.</span>
    <div>
      <span itemprop="addressLocality">Spring Grove</span>,
      <span itemprop="addressRegion">IL</span>
      <span itemprop="postalCode">60081</span>
    </div>
  </div>

  <div class="left-image">
    <img src="images/fishing.jpg" />
  </div>

  <p>There will be a limit of two fish per person. There will be prizes for the biggest fish as well as other categories, random prize giveaways, a 50/50 raffle and much, much more!</p>

  <p>If you are over 16 years of age, you will need a license and inland trout stamp to fish. No license is required if under 16.</p>

  <p>Please bring your own poles, tackle and bait (BYOB)! There are limited loaners available.</p>

  <p>Fish cleaning is available for $1 per fish to bag and ice.</p>

  <p>Food will be available from the Rusty Nail. $5 includes either a hot dog or hamburger, chips and a pop.</p>

  <div class="address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
    <div>The Rusty Nail</div>
    <span itemprop="streetAddress">4520 Ringwood Rd.</span>
    <div>
      <span itemprop="addressLocality">Ringwood</span>,
      <span itemprop="addressRegion">IL</span>
      <span itemprop="postalCode">60072</span>
    </div>
  </div>
</div>
