<h2>Help us support the MACC Fund</h2>

<div class="macc">
  <p>The MACC Fund, Midwest Athletes Against Childhood Cancer, Inc., is a charitable not-for-profit organization formed in 1976 to support research into the effective treatment and cure of childhood cancers and other related blood disorders. Cancer is the leading disease-related cause of death in children after the newborn period. The MACC Fund has contributed over $45 million to pediatric cancer research since its inception. </p>

  <p>The primary beneficiary of the MACC Fund support is the MACC Fund Center, located at the Medical College of Wisconsin. Progress is achieved through research. The result has been an overall cure rate from 20% to 80%. The MACC Fund is a source of hope for young people who are suffering from cancer and other blood related disorders. </p>

  <p>We offer a variety of donation levels for your consideration. Any level of donation is appreciated. In addition to donation levels and sponsorships, we will be looking for volunteers to help with the event and raffle item donations. Donate on behalf of your company, organization, family, or neighborhood. Your donations are greatly appreciated!</p>

  <p>If you have any questions about making a donation, please contact Heather Schuler at <a href="mailto:donations.forcures@gmail.com">donations.forcures@gmail.com</a>.</p>

  <p>You can also help support the MACC Fund by <a href="http://www.kintera.org/AutoGen/ECommerce/Catalog.asp?ievent=347918&en=dlITL6MMKbJPL8PWJhJOKdM3KuL2KbOXJrLZJdO4JvJdH&CategoryID=319393">purchasing a calendar</a>, featuring Nicole Mendlik.</p>

  <p>Thank you for your incredible commitment to the MACC Fund.</p>
</div>

<div class="donate">
  <center>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="LY6CQ8GVNED4S">
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
  </center>
</div>
