<h2>Help us support the MACC Fund.</h2>

<div class="macc">
  <p>The MACC Fund, Midwest Athletes Against Childhood Cancer, Inc. is a charitable not for profit organization formed in 1976 to support research into the effective treatment and cure of childhood cancers and other related blood disorders. Cancer is the leading disease related cause of death in children after the newborn period. The MACC Fund has contributed over $43 million to pediatric cancer research since its inception. </p>

  <p>The primary beneficiary of the MACC Fund support is the Midwest Children’s Cancer Center, Located at the Medical College of Wisconsin. Progress is achieved through research. The result has been an overall cure rate from 20% to 80%. The MACC Fund is a source of hope for young people who are suffering from cancer and other blood related disorders. </p>

  <p>Thank you for your incredible commitment to the MACC Fund.</p>
</div>

<div class="donate">
  <center>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="LY6CQ8GVNED4S">
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
  </center>
</div>
