---
title: Welcome to Middleman
---

<div class="welcome">
  <h3>About</h3>
  <p>We’re here to help fight childhood cancer and blood disorders by raising money during a fun family event. More information about the event (details on location, prizes, etc.)  </p>

</div>
