<div class="welcome">
  <h2>
    A family fun-filled day. There will be plenty to do for kids of all ages.
  </h2>
  <div class="row">
    <div class="column half">
      <ul>
        <li>Trout Fishing</li>
        <li>Fly Fishing Lessons</li>
        <li>Games</li>
        <li>Crafts</li>
        <li>Face Painting</li>
        <li>Petting Zoo</li>
      </ul>
    </div>
    <div class="column half">
      <ul>
        <li>Contests</li>
        <li>50/50 Raffle</li>
        <li>Prize Raffle</li>
        <li>Silent Auction</li>
        <li>Trackless Train Rides</li>
        <li>Princess Meet and Greet</li>
      </ul>
    </div>
    <p>
    Cheri Amore Memorial and Nicole Mendlik are hosting the 1st Annual Casting for Cures
    outing on Saturday May 3, 2014.
    </p>
    <p>
    We’re here to help fight childhood cancer and blood disorders by raising money during a fun family event.
    Money raised at this trout fishing event will be donated to the MACC Fund (Midwest Athletes
    Against Childhood Cancer), a charitable, not-for-profit organization formed in 1976 to support
    research into the effective treatment and cure of childhood cancer and other related blood
    disorders.
    </p>
    <div class="left-image">
      <img src="images/pigtails.jpg" />
    </div>
    <p>
    This event is in the memory of Cheri Amore and to celebrate Nicole Mendlik. Cheri was an
    exceptional and energetic young lady who passed away at the very young age of 17. Cheri battled
    Leukemia for a long challenging 14 years. Nicole is an outgoing, determined young girl who
    continues her fight to overcome Aplastic Anemia. Nicole is only 6 years old and was diagnosed
    in 2011.
    </p>
    <p>
    These girls have benefited from the success of the MACC Fund and the Midwest Children’s
    Cancer Center, who offer hope and in turn through their experiences and treatments were able
    to benefit from the research. Progress is achieved through research. The result has been an
    overall cure rate from 20% to 80% of pediatric cancer. The MACC Fund is a source of hope for
    young people who are suffering from cancer or other blood related disorders. This research
    will benefit children everywhere who suffer from these horrific diseases. At the very least,
    it offers hope for these children and their families.
    </p>

    <div class="right-image">
      <img src="images/toes.jpg" />
    </div>

    <p>
    Through the inspiration of Cheri and Nicole, our goal is to keep this research moving in the
    right direction and hopefully get the cure rate to 100%. The charitable proceeds from Casting
    for Cures will assist the MACC Fund in obtaining this goal.
    </p>
    <p>
    At this time, we are asking for your assistance and generosity, as we would greatly appreciate
    a contribution to our live or silent auction items for the Casting for Cures event. We greatly
    appreciate any monetary donation as well. All donations must be received by May 1, 2014, to
    have recognition in the program and on the website.
    </p>
    <p>
    If you have any questions or need further information, please contact David Mendlik at
    <a href="mailto:castingforcures@gmail.com">castingforcures@gmail.com</a>.
    </p>
    <p>Thank you!</p>
  </div>
