<div class="photos">
  <h2>Photos from last year's event.</h2>

  <div class="row">
    <div class="column half">
      <div>
        <img src="images/2015/DSCN0879.jpg">
        <p>Everyone gathered around the pond trying to catch one of the 330 trout that we stocked for the event</p>
      </div>
    </div>
    <div class="column half">
      <div>
        <img src="images/2015/DSCN0789.jpg">
        <p>The first 200 kids to register received deluxe goodie bags courtesy of Snap-on</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column half">
      <div>
        <img src="images/2015/DSCN0692.jpg">
        <p>Hoping to catch one of the 10 stocked "golden trout" to win a goldfish pet</p>
      </div>
    </div>
    <div class="column half">
      <div>
        <img src="images/2015/DSCN0669.jpg">
        <p>Patiently awaiting a bite from a rainbow trout</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column half">
      <div>
        <img src="images/2015/DSCN0933.jpg">
        <p>1st, 2nd & 3rd place winners in the biggest fish contest</p>
      </div>
    </div>
    <div class="column half">
      <div>
        <img src="images/2015/DSCN0935.jpg">
        <p>Congratulations, Chloe, on your 1st place win!  Enjoy your prize of a charter fishing trip courtesy of North Point Charter Boat Association</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column half">
      <div>
        <img src="images/2015/DSCN0648.jpg">
        <p>Train rides courtesy of The Great Chicago Kiddie Express Train Company</p>
      </div>
    </div>
    <div class="column half">
      <div>
        <img src="images/2015/DSCN0764.jpg">
        <p>Kids enjoyed jumping in two bounce houses all day</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column half">
      <div>
        <img src="images/2015/DSCN0811.jpg">
        <p>Petting zoo filled with goats, sheep, piglets and ducks enjoyed all the attention</p>
      </div>
    </div>
    <div class="column half">
      <div>
        <img src="images/2015/DSCN0792.jpg">
        <p>Pony rides</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column half">
      <div>
        <img src="images/2015/DSCN0821.jpg">
        <p>Fire truck for the kids to "drive" and take pictures on courtesy of Spring Grove Fire Protection District</p>
      </div>
    </div>
    <div class="column half">
      <div>
        <img src="images/2015/DSCN0894.jpg">
        <p>Princesses and superheroes kept the kiddos entertained</p>
      </div>
    </div>
  </div>
</div>
