<div class="photos">
  <h2>Photos from the 2014 event.</h2>

  <div class="row">
    <div class="column half">
      <div>
        <img src="images/2014/cfc2.jpg">
        <p>Welcome to the first annual Casting for Cures</p>
      </div>
    </div>
    <div class="column half">
      <div>
        <img src="images/2014/cfc7.jpg">
        <p>Smaller pond stocked with 500 trout courtesy of Snap-On</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="column half">
      <div>
        <img src="images/2014/cfc12.jpg">
        <p>Train rides courtesy of The Great Chicago Kiddie Express Train Company</p>
      </div>
    </div>
    <div class="column half">
      <div>
        <img src="images/2014/cfc133.jpg">
        <p>Firetruck visit courtesy of Spring Grove Fire Department.  All the kids were
        able to go in the truck, pose for pictures and try on the firefighters' gear.</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="column half">
      <div>
        <img src="images/2014/cfc26.jpg">
        <p>Everything you could possibly ask for in a fishing fundraising event... sun, warmth and the fish biting</p>
      </div>
    </div>
    <div class="column half">
      <div>
        <img src="images/2014/cfc86.jpg">
        <p>Waiting for the big one...</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="column half">
      <div>
        <img src="images/2014/cfc87.jpg">
        <p>Princesses and superheroes entertained and engaged both boys and girls</p>
      </div>
    </div>
    <div class="column half">
      <div>
        <img src="images/2014/cfc43.jpg">
        <p>Giant slide and bounce house kept the kids busy</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="column half">
      <div>
        <img src="images/2014/cfc46.jpg">
        <p>Facepainting for the kids courtesy of Bubbles the clown</p>
      </div>
    </div>
    <div class="column half">
      <div>
        <img src="images/2014/cfc48.jpg">
        <p>Exotic petting zoo provided by Animal Quest</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="column half">
      <div>
        <img src="images/2014/cfc113.jpg">
        <p>Success!</p>
      </div>
    </div>
    <div class="column half">
      <div>
        <img src="images/2014/cfc21.jpg">
        <p>Girls catching trout on the dock</p>
      </div>
    </div>
  </div>
</div>
