<div class="photos">
  <h2>Photos from the event.</h2>

  <div class="row">
    <div class="column half">
      <div>
        <img src="images/cfc2.jpg">
        <p>Welcome to the first annual Casting for Cures</p>
      </div>
    </div>
    <div class="column half">
      <div>
        <img src="images/cfc7.jpg">
        <p>Smaller pond stocked with 500 trout courtesy of Snap-On</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="column half">
      <div>
        <img src="images/cfc12.jpg">
        <p>Train rides courtesy of The Great Chicago Kiddie Express Train Company</p>
      </div>
    </div>
    <div class="column half">
      <div>
        <img src="images/cfc133.jpg">
        <p>Firetruck visit courtesy of Spring Grove Fire Department.  All the kids were
        able to go in the truck, pose for pictures and try on the firefighters' gear.</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="column half">
      <div>
        <img src="images/cfc26.jpg">
        <p>Everything you could possibly ask for in a fishing fundraising event... sun, warmth and the fish biting</p>
      </div>
    </div>
    <div class="column half">
      <div>
        <img src="images/cfc86.jpg">
        <p>Waiting for the big one...</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="column half">
      <div>
        <img src="images/cfc87.jpg">
        <p>Princesses and superheroes entertained and engaged both boys and girls</p>
      </div>
    </div>
    <div class="column half">
      <div>
        <img src="images/cfc43.jpg">
        <p>Giant slide and bounce house kept the kids busy</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="column half">
      <div>
        <img src="images/cfc46.jpg">
        <p>Facepainting for the kids courtesy of Bubbles the clown</p>
      </div>
    </div>
    <div class="column half">
      <div>
        <img src="images/cfc48.jpg">
        <p>Exotic petting zoo provided by Animal Quest</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="column half">
      <div>
        <img src="images/cfc113.jpg">
        <p>Success!</p>
      </div>
    </div>
    <div class="column half">
      <div>
        <img src="images/cfc21.jpg">
        <p>Girls catching trout on the dock</p>
      </div>
    </div>
  </div>
</div>
