<div class="photos">
  <h2>Photos from last year's event.</h2>

  <div class="row">
    <div class="column half">
      <div>
        <img src="images/2016/IMG_2892.JPG">
      </div>
    </div>
    <div class="column half">
      <div>
        <img src="images/2016/IMG_2898.JPG">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="column half">
      <div>
        <img src="images/2016/IMG_2899.JPG">
      </div>
    </div>
    <div class="column half">
      <div>
        <img src="images/2016/IMG_2900.JPG">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="column half">
      <div>
        <img src="images/2016/IMG_2901.JPG">
      </div>
    </div>
    <div class="column half">
      <div>
        <img src="images/2016/IMG_2904.JPG">
      </div>
    </div>
  </div>
</div>
