<h2>Support our sponsors!</h2>

<div class="row">
  <div class="column third">
    <div class="sponsor-group">
      <h3>Whales &ndash; $1000+</h3>
      <ul>
        <li><a href="http://www.great-lakes.org/il/northpointcharterboat.html" target="_blank">North Point Charter Boat Association</a></li>
        <li><a href="http://store.snapon.com" target="_blank">Snap-on</a></li>
      </ul>
    </div>
  </div>
  <div class="column third">
    <div class="sponsor-group">
      <h3>Sharks &ndash; $500</h3>
      <ul>
        <li><a href="http://www.mauijim.com" target="_blank">Maui Jim</a></li>
        <li><a href="https://www.stack-on.com" target="_blank">Stack-On</a></li>
        <li><a href="http://www.ChicagoKiddieTrain.com" target="_blank">The Great Chicago Kiddie Express Train Company</a></li>
      </ul>
    </div>
  </div>
  <div class="column third">
    <div class="sponsor-group">
      <h3>Dolphins &ndash; $250</h3>
      <ul>
        <li>Ron Zilinski</li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="sponsor-group">
      <h3>Special Thanks</h3>

      <div>Margie Bjorkman</div>
      <p>Margie donated her time and skills to provide the beautiful photographs of the kids that you see on this site.</p>

      <div><a href="http://www.ServiceSanitation.com" target="_blank">Service Sanitation</a></div>
      <p>Service Sanitation is donating the portable restrooms for the event.</p>
    </div>
  </div>
</div>

