<h2>Support our sponsors!</h2>

<div class="row">
  <div class="column third">
    <div class="sponsor-group">
      <h3>Whales &ndash; $1000+</h3>
      <ul>
        <li><a href="http://www.chicagokiddietrain.com" target="_blank" rel="noopener">Great Chicago Kiddie Express Train</a></li>
        <li><a href="http://store.snapon.com" target="_blank" rel="noopener">Snap-on</a></li>
      </ul>
    </div>
  </div>
  <div class="column third">
    <div class="sponsor-group">
      <h3>Sharks &ndash; $500</h3>
      <ul>
        <li><a href="http://www.ibew21.org" target="_blank" rel="noopener">IBEW Local Union 21</a></li>
        <li><a href="http://www.great-lakes.org/il/northpointcharterboat.html" target="_blank" rel="noopener">North Point Charter Boat Association</a></li>
        <li><a href="https://naturesfeed.net" target="_blank" rel="noopener">Nature's Feed</a></li>
        <li><a href="http://www.skipperbuds.com" target="_blank" rel="noopener">Skipper Bud's</a></li>
        <li><a href="http://paradisejewelrytreasures.com" target="_blank" rel="noopener">Paradise Jewelry &amp; Treasures</a></li>
      </ul>
    </div>
  </div>
  <div class="column third">
    <div class="sponsor-group">
      <h3>Dolphins &ndash; $250</h3>
      <ul>
        <li><a href="http://www.huemannwater.com" target="_blank" rel="noopener">Huemann Water Conditioning</a></li>
        <li><a href="https://www.ontargetsite.com/range-rates" target="_blank" rel="noopener">On Target Range and Tactical Center</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="sponsor-group">
      <h3>Special Thanks</h3>

    </div>
  </div>
</div>

