<h2>Support our sponsors!</h2>

<%#<h3>Whales &ndash; $1000+</h3>%>
<%#<h3>Sharks &ndash; $500</h3>%>

<div class="sponsor-group">
  <h3>Guppies &ndash; $250</h3>
  <h4>Rhino Tile</h4>
</div>

<div class="sponsor-group">
  <h3>Special Thanks</h3>

  <h4>Margie Bjorkman</h4>
  <p>Margie generously donated her time and skills to provide the beautiful photographs of the kids that you see on this site.</p>
</div>
