<h2>Support our sponsors!</h2>

<div class="row">
  <div class="column third">
    <div class="sponsor-group">
      <h3>Whales &ndash; $1000+</h3>
      <ul>
        <li><a href="http://www.paradisejewelrytreasures.com">Ruth Hogan</a></li>
      </ul>
    </div>
  </div>
  <div class="column third">
    <div class="sponsor-group">
      <h3>Sharks &ndash; $500</h3>
      <ul>
        <li>Russ and Connie Lee Scripture</li>
      </ul>
    </div>
  </div>
  <div class="column third">
    <div class="sponsor-group">
      <h3>Dolphins &ndash; $250</h3>
      <ul>
        <li>Rhino Tile</li>
        <li>Ray and Bobbie Mendlik</li>
        <li>Ron and Laurie Zelinsky</li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="sponsor-group">
      <h3>Special Thanks</h3>

      <div>Margie Bjorkman</div>
      <p>Margie donated her time and skills to provide the beautiful photographs of the kids that you see on this site.</p>

      <div>Donna Giovanni</div>
      <!-- See email from 11/22 for her logo, once we get other logos -->
      <p>Donna donated her time and graphic design skills toward the Casting for Cures <a href="files/flyer.pdf">promotional flyer</a>.</p>
    </div>
  </div>
</div>

