<h2>Support our sponsors!</h2>

<div class="row">
  <div class="column third">
    <div class="sponsor-group">
      <h3>Whales &ndash; $1000+</h3>
      <ul>
        <li><a href="http://www.paradisejewelrytreasures.com">Paradise Jewelry & Treasures</a></li>
        <li><a href="http://store.snapon.com">Snap-on</a></li>
        <li><a href="http://www.ChicagoKiddieTrain.com">The Great Chicago Kiddie Express Train Company</a></li>
      </ul>
    </div>
  </div>
  <div class="column third">
    <div class="sponsor-group">
      <h3>Sharks &ndash; $500</h3>
      <ul>
        <li><a href="http://jackpotfishing.com">Jackpot Fishing Charters</a></li>
        <li><a href="http://xcaliburrods.com">John Miao (custom fly rods)</a></li>
        <li><a href="http://www.planomolding.com">Plano</a></li>
        <li><a href="http://richmondhuntclub.com">Richmond Hunting Club, Inc.</a></li>
        <li>Russ and Connie Lee Scripture</li>
      </ul>
    </div>
  </div>
  <div class="column third">
    <div class="sponsor-group">
      <h3>Dolphins &ndash; $250</h3>
      <ul>
        <li><a href="http://www.causa.com">Custom Accessories, Inc.</a></li>
        <li>Jim and Sue Glenn and Family</li>
        <li><a href="http://www.lakegenevafishing.com">Lake Geneva Fishing</a></li>
        <li>Ray and Bobbie Mendlik</li>
        <li><a href="http://www.raymondchevrolet.com/mobi">Raymond Chevrolet Antioch</a></li>
        <li>Rhino Tile</li>
        <li><a href="http://richmondmotorsales.com">Richmond Motor Sales</a></li>
        <li>Ron and Laurie Zelinsky</li>
        <li><a href="http://www.tovarsnow.com/contact-us">Tovar Snow Professionals</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="sponsor-group">
      <h3>Special Thanks</h3>

      <div><a href="http://www.dgiovanni.com/">Donna Giovanni photography and design</a></div>
      <!-- See email from 11/22 for her logo, once we get other logos -->
      <p>Donna donated her time and graphic design skills toward the Casting for Cures <a href="files/flyer.pdf">promotional flyer</a>.</p>

      <div>Margie Bjorkman</div>
      <p>Margie donated her time and skills to provide the beautiful photographs of the kids that you see on this site.</p>

      <div><a href="http://www.ServiceSanitation.com">Service Sanitation</a></div>
      <p>Service Sanitation is donating the portable restrooms for the event.</p>
    </div>
  </div>
</div>

