<h2>Support our sponsors!</h2>

<div class="row">
  <div class="column third">
    <div class="sponsor-group">
      <h3>Whales &ndash; $1000+</h3>
      <ul>
        <li><a href="http://www.great-lakes.org/il/northpointcharterboat.html">North Point Charter Boat Association</a></li>
        <li><a href="http://store.snapon.com">Snap-on</a></li>
      </ul>
    </div>
  </div>
  <div class="column third">
    <div class="sponsor-group">
      <h3>Sharks &ndash; $500</h3>
      <ul>
        <li>Lonergan Builders</li>
        <li><a href="http://www.mauijim.com">Maui Jim</a></li>
        <li><a href="https://www.stack-on.com">Stack-On</a></li>
        <li><a href="http://www.ChicagoKiddieTrain.com">The Great Chicago Kiddie Express Train Company</a></li>
      </ul>
    </div>
  </div>
  <div class="column third">
    <div class="sponsor-group">
      <h3>Dolphins &ndash; $250</h3>
      <ul>
        <li><a href="http://www.antiochgolfclub.com">Antioch Golf Club</a></li>
        <li>Ray and Bobbie Mendlik</li>
        <li>Ron Zilinski</li>
        <li>Russ Scripture</li>
        <li><a href="http://www.sunflowerfarms.com">Sunflower Farms</a></li>
        <li><a href="http://www.timmermannsranch.com">Timmermann's Ranch & Saddle Shop</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="sponsor-group">
      <h3>Special Thanks</h3>

      <div>Margie Bjorkman</div>
      <p>Margie donated her time and skills to provide the beautiful photographs of the kids that you see on this site.</p>

      <div><a href="http://www.ServiceSanitation.com">Service Sanitation</a></div>
      <p>Service Sanitation is donating the portable restrooms for the event.</p>
    </div>
  </div>
</div>

