<h2>Support our sponsors!</h2>

<div class="row">
  <div class="column third">
    <div class="sponsor-group">
      <h3>Whales &ndash; $1000+</h3>
      <ul>
        <li><a href="http://www.chicagokiddietrain.com" target="_blank" rel="noopener">Great Chicago Kiddie Express Train</a></li>
      </ul>
    </div>
  </div>
  <div class="column third">
    <div class="sponsor-group">
      <h3>Sharks &ndash; $500</h3>
      <ul>
      </ul>
    </div>
  </div>
  <div class="column third">
    <div class="sponsor-group">
      <h3>Dolphins &ndash; $250</h3>
      <ul>
        <li><a href="http://www.huemannwater.com" target="_blank" rel="noopener">Huemann Water Conditioning</a></li>
        <li><a href="https://www.ontargetsite.com/range-rates" target="_blank" rel="noopener">On Target Range and Tactical Center</a></li>
        <li><a href="http://www.skipperbuds.com" target="_blank" rel="noopener">Skipper Buds</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="sponsor-group">
      <h3>Special Thanks</h3>

    </div>
  </div>
</div>

