<h2>Two different families brought together by one common goal.</h2>

<div class="row">
  <div class="column half">
    <h3>Cheri Amore</h3>
    <p>Cheri Amore was a young woman with a passion for living,  Like most seventeen year olds, she loved time with her friends, her family and her dog. She loved dancing and parties, football games and cheerleading, and most of all her time on the water either boating or skiing with the Aquanut Water Ski Team.</p>
    <p> Cheri’s life came to an end on July 9, 2002. She suffered an irreversible brain injury due to a stoke following a bone marrow transplant treatment for Acute Mylangenous Leukemia (AML). Although only on this earth for a seventeen years, Cheri taught many of us about courage, strength and hope.</p>
    <p>Cheri’s initial cancer occurred shortly after her 3rd birthday, Acute Lymphocuctic Leukemia (ALL). In total she experienced cancer 6 times. Her history of treatment included 3 bone marrow transplants, through the loving gift of bone marrow from her brother Andy. Each time she kept her focus on living life. As always her goal was to return to the water to enjoy her passion...riding in the boat or on the waves. In fall 2001 Cheri’s center returned. As a junior at Marian Central Catholic High School she managed to maintain honor roll status, and she kept her focus on the future: driving the car, going to prom and preparing for college.</p>
    <p>In June, 2002 she entered Children’s Hospital of Wisconsin once again to undergo a 4th bone marrow transplant. This time with a slightly different procedure learned through research by a team of physicians in Europe. Cheri’s father Buster would be her donor this time. Although the procedure had many risks, it offered Cheri the greatest hope for a permanent remission, a cure. The transplant itself was a success. She died free from Leukemia. Her death was due to a complication in having a severely depressed immune system. On the day of her death Cheri’s dad was quoted as saying, “Without the benefit of research done by MACC Fund we could have lost Cheri at age 6. We owe them for the past 14 years of her life. Cheri’s treatment came through the learning of other children treated before her illness.”</p>
    <p>With your help we offer this same hope to families who have come after our experience. Over the past 11 years we have supported the MACC Fund in giving hope to children with cancer, through research. We will continue this quest until there is a cure!</p>
    <p> Thank you for being a part of the Cheri Amore Hope Team!</p>
  </div>

  <div class="column half">
    <h3>Nicole Mendlik</h3>

    <p>On October 11, 2011 Nicole was diagnosed with very severe aplastic anemia. This is an autoimmune disease of the bone marrow that affects 3-5 people per million in the United States. Within 2 days of being diagnosed, Nicole was getting ATG (anti-thymocyte globulin). This is the first in line for treatment since she only had a 9 out of 10 factors bone marrow match for a bone marrow transplant. In early February 2013 Nicole also contracted ITP (idiopathic thrombocytopenic purpura), an auto immune disease of the blood on top of the aplastic anemia. With IV treatment and a course of other medications things seem to be under control for now.</p>
    <p>Through this whole process we have seen and met so many sick kids and their families. Some kids are cured and others a lot less fortunate. Here is only one story of many I would like to share. It was 9:30 at night and we were in the hot unit play room. A controlled environment where kids can play at the Milwaukee Children’s Hospital. There is a little girl, Aerial, and she is maybe 12 years old. Her mom stepped out to take a break and Aerial and Nicole hit it off. Nicole turns to me and says, “Dad, can we play music?” Without delay we had the music blasting and I mean blasting. They both had 6 foot IV poles with these tubes attached and they were swinging them around, cords flying everywhere. Both girls dancing with smiles from ear to ear. At about 10:30 I had to be the mean guy and call it a night. Truth be told they were both pretty tired.</p>
    <p>The next morning we were told that we could go home. Nicole’s bone marrow had finally showed a response. To this day we still think of Aerial and hope she is doing well. I can’t help but think of the day we left the hospital after being admitted for 30 plus days. I can only describe it as bitter sweet. Yes, we are leaving a better state, but someone else’s child is still very sick behind us and someone else’s child and family are going to take our place. </p>
    <p>The hope is for Nicole to be cured or at the very least in remission. As for the other kids that we left behind we continue to support the MACC organization. They do research on kid’s cancers and blood disorders. If the day ever comes when they do find a cure for all cancers and blood disorders, we will find a different research organization that gives kids a chance to live the life that we have been so blessed to have.</p>

    <p>Thank you MACC and Children’s Hospital!</p>

    <p>-The Mendliks</p>
  </div>
</div>

<div class="stories-donate">
  <h2> <%= link_to 'Donate', '/donations' %> </h2>
</div>

