<h2>Two families brought together by one common goal.</h2>

<div class="row">
  <div class="column half">
    <h3>Cheri Amore</h3>

    <p>Cheri was a young woman with a passion for living.</p>
    <p>Like most 17 year olds, she loved time with her friends, her family and her dog. She loved dancing and parties, football games and cheerleading, and above all her time on the water either boating or skiing with the Aquanut Water Ski Team.</p>
    <p> Cheri’s life came to an end on July 9, 2002. She suffered an irreversible brain injury due to a stroke following a bone marrow transplant treatment for Acute Mylangenous Leukemia (AML). Although only on this earth for 17 years, Cheri taught many of us about courage, strength and hope.</p>
    <p>Cheri’s initial cancer, Acute Lymphocuctic Leukemia (ALL), occurred shortly after her 3rd birthday. In total, she experienced cancer 6 times. Her history of treatment included 3 bone marrow transplants through the loving gift of bone marrow from her brother, Andy. Each time she kept her focus on living life. As always her goal was to return to the water to enjoy her passion... riding in the boat or on the waves. In Fall 2001, Cheri’s cancer returned. As a junior at Marian Central Catholic High School she managed to maintain honor roll status, and she kept her focus on the future: driving the car, going to prom and preparing for college.</p>
    <p>In June 2002, she entered Children’s Hospital of Wisconsin once again to undergo a 4th bone marrow transplant, this time with a slightly different procedure learned through research by a team of physicians in Europe. Cheri’s father Buster would be her donor this time. Although the procedure had many risks, it offered Cheri the greatest hope for a permanent remission, a cure. The transplant itself was a success. She died free from Leukemia. Her death was due to a complication in having a severely depressed immune system. On the day of her death Cheri’s dad was quoted as saying, “Without the benefit of research done by MACC Fund we could have lost Cheri at age 6. We owe them for the past 14 years of her life. Cheri’s treatment came through the learning of other children treated before her illness.”</p>
    <p>With your help we offer this same hope to families who have come after our experience. Over the past 12 years we have supported the MACC Fund in giving hope to children with cancer through research. We will continue this quest until there is a cure!</p>
    <p> Thank you for being a part of the Cheri Amore Hope Team!</p>
    <p>&ndash;The Amore's</p>
  </div>

  <div class="column half">
    <h3>Nicole Mendlik</h3>

    <p>
    In October 2011, at age 3, Nicole was diagnosed with very severe aplastic anemia.  This is an autoimmune bone marrow failure disease that results in a lack of red cells, white cells and platelets.  This is a rare disease affecting approximately 3 people in 1 million.
    </p>
    <p>
    Bone marrow transplant would be the best option for Nicole and is the only “cure” for aplastic anemia.  Immediately after diagnosis, her sister Rachel was tested and found not to be a match for Nicole.  A worldwide search of over 9 million potential bone marrow donors on the registry was done with no success.  Nicole did not and still does not to this day have a match.
    </p>
    <p>
    Nicole’s first treatment consisted of ATG (anti-thymocyte globulin), a drug treatment that almost completely destroys her bone marrow in the hopes it will kill off the unhealthy destructive cells and allow her healthy cells to take over and begin producing normal amounts of blood cells.  She began to respond to the treatment but then relapsed in September 2013.  She then began a clinical study at the National Institutes of Health (NIH) in Bethesda, Maryland.  She received another drug treatment called Campath that’s similar to the ATG she already received but considered experimental.  Over 3 years later, her body is still responding to this treatment and her blood counts are improving very slowly but surely.
    </p>
    <p>
    Of course, this is the abbreviated version…Nicole has received countless blood and platelet transfusions, bone marrow biopsies, IV’s, injections, medicines and bumps in the road to recovery.  There’s been extended hospital stays, late night emergency room visits, and incredibly scary times where we just didn’t know what tomorrow would bring.  While we are not quite out of the woods yet, Nicole is stable, doing very well, and living an (almost) normal life.  We are down to yearly follow up visits to NIH and 6 month visits to Children’s Hospital of Milwaukee.  She’s been back in school consistently for the past two years, enjoys playing soccer and basketball, playdates and sleepovers with friends.
    </p>
    <p>&ndash;The Mendlik's</p>
  </div>
</div>
